* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Righteous', sans-serif;
    background-color: #EFEFEF;
    min-height: 100vh;
    width: 100%;
}

/* Navabr */
header {
    width: 100%;
}

ul {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 2rem 3rem;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: #5465FF;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

#links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
}

/* Page Content */
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

/* Search bar */
form {
    margin-top: 3rem;
    width: 70%;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border-radius: 60px;
}

input {
    flex: 1;
    background-color: transparent;
    border: 0;
    outline: none;
    padding: 10px 20px;
    font-size: 1rem;
    color: #BABABA;
    font-family: 'Righteous', sans-serif;
}

input::placeholder {
    font-family: 'Righteous', sans-serif;
    color: #BABABA;
}

button {
    border: 0;
    background: transparent;
    cursor: pointer;
}

button img {
    width: 24px;
}

/* Movies */
#movies {
    margin-top: 9rem;
    margin-bottom: 4rem;
    padding: 0 3rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 3rem;
}

/* Movie */
.movie {
    width: 300px;
    height: 550px;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}


.movie img {
    cursor: pointer;
    width: 300px;
    height: 450px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.movie img:hover {
    scale: 0.95;
}

.content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.content p:last-child {
    color: #BABABA;
    margin-top: 10px;
}

/* Footer */
footer {
    background-color: #0d253f;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    margin-top: auto;
}

footer a {
    display: block;
    font-size: 13px;
}

footer img {
    width: 450px;
}

@media only screen and (max-width: 1365px) {
    footer {
        flex-direction: column;
        gap: 2rem;
    }

    footer img {
        width: 300px;
    }
}